
/EnvManWF/EnvMan/EnvMan/bin
/EnvManWF/EnvMan/EnvMan/obj
/EnvManWF/EnvMan.Tests/EnvManagerTest/bin
/EnvManWF/EnvMan.Tests/EnvManagerTest/obj
/EnvManWF/EnvMan.Tests/EnvManTest/bin
/EnvManWF/EnvMan.Tests/EnvManTest/obj
/EnvManWF/EnvMan/EnvManager/bin
/EnvManWF/EnvMan/EnvManager/obj