<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvMan.Properties.FrmMainSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EnvMan.Properties.ProxySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EnvMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvMan.Properties.FrmMainSettings>
            <setting name="FrmWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>377, 448</value>
            </setting>
            <setting name="OnlyOneInstance" serializeAs="String">
                <value>True</value>
            </setting>
        </EnvMan.Properties.FrmMainSettings>
        <EnvMan.Properties.ProxySettings>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ServerAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="ServerUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
        </EnvMan.Properties.ProxySettings>
        <EnvMan.Properties.Settings>
            <setting name="FrmWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>377, 448</value>
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
        </EnvMan.Properties.Settings>
    </userSettings>
</configuration>