<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Environment Variables Manager Setup" 
           Language="1033" Version="1.4.0" Manufacturer="SETCHIN Freelance Consulting" 
           UpgradeCode="C4A4E7B2-D981-4C4D-9026-01AFA57C6804">
    <Package Compressed="yes" InstallerVersion="301" 
             Manufacturer="SETCHIN Freelance Consulting" 
             Description="Installs Environment Variables Manager" 
             Keywords="MSI, EnvMan, Environment, Variables, Manager, Installer"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."/>

  </Product>
	<Fragment>
		<!-- TODO: Put your code here. -->
	</Fragment>
</Wix>